{% for notification in notifications %}
    <li class="nav-message navbar-avatar">
        <a href="#">
            <span class="time">{{ notification.time }}</span>
            <img src="{{  url_for('static', filename='images/lol-icon.png') }}" />
            <span>{{ notification.title }}</span>
            <p>{{ notification.content }}</p>
        </a>
    </li>
{% endfor %}

<li class="nav-message-more">
    <a href="{{ url_for('notifications.index_view') }}">
        Zobacz wszystkie powiadomienia
    </a>
</li>
