{% extends 'main.html' %}

{% block content %}
  <div class="col-md-9">
    <h1>{{ gettext("Notifications") }}</h1>
    <div class="content" id="notifications-list">
      {% block pjax_content %}
        {% for notification in notifications %}
          {% include ['renderers/{0}.html'.format(notification.type.lower()), 'renderers/not_implemented.html'] %}
        {% if not loop.last %} <hr> {% endif %}
        {%  endfor %}
        {% from 'macros.html' import render_pagination %}
        {{ render_pagination(pagination, '#notifications-list') }}
      {% endblock %}
    </div>
  </div>
{% endblock content %}