<h1 class="name">
  <span>{{ gettext('Profil of %(name)s', name=current_user.name) }}</span>
  <small class="watch">
    <a href="#">
      <i class="fa fa-eye"></i>
      13
    </a>
  </small>
</h1>
<div class="extra-menu">
  <a href="{{ url_for('users.edit_profile_subview', user_id=current_user.id) }}">
    <i class="fa fa-pencil-square-o"></i>
  </a>
</div>
{% from 'macros.html' import render_form, flash_messages %}
{{ flash_messages() }}
{{ render_form(basic_form, url_for('users.change_basic', user_id=user.id), action_text=gettext('Save profile')) }}
{{ render_form(email_form, url_for('users.change_email', user_id=user.id), action_text=gettext('Change email')) }}
