{% extends 'my_profile_base.html' %}

{% block profile_content %}

  <h1 class="name">
    <span>{{ gettext('Friends of %(name)s', name=current_user.name) }}</span>
  </h1>
  <div>
    <ul>
      {% for friend in friends %}
        <li>
          <div>
            <img class="avatar" src="{{ friend.email | gravatar(size=20) }}" alt="" />
            <a href="{{ url_for('users.profile_view', user_id=friend.id) }}">{{ friend.name }}</a>
            <a href="#">(Send message)</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock profile_content %}