{% extends 'main.html' %}

{% block content %}
  {%  from 'user_macros.html' import user_basic_info, user_game_ownerships %}

  {% set is_my_profile = current_user.is_authenticated() and current_user.id == user.id %}

  {% if is_my_profile %}

    {% set side_menu = [
      (url_for('users.profile_subview', user_id=user.id), 'profile', gettext('Profile')),
      (url_for('users.friends_subview', user_id=user.id), 'friends', gettext('Friends')),
      ('#', 'messages', gettext('Messages')),
      ('#', 'match', gettext('Matches')),
      ('#', 'challenges', gettext('Challenges')),
      ('#', 'leagues', gettext('Leagues')),
      ('#', 'settings', gettext('Settings')),
      (url_for('users.teams_subview', user_id=user.id), 'teams', gettext('Teams'))
    ] -%}

  {% else %}

    {% set side_menu = [
      (url_for('users.profile_subview', user_id=user.id), 'profile', gettext('Profile')),
      ('#', 'match', gettext('Matches')),
      ('#', 'challenges', gettext('Challenges')),
      ('#', 'leagues', gettext('Leagues')),
      (url_for('users.teams_subview', user_id=user.id), 'teams', gettext('Teams'))
    ] -%}

  {% endif %}

  <div class="profile player col-md-9">
    <div class="row">
      <div class="menu">
        <div class="logo">
          <img class="avatar" src="{{ user.email | gravatar }}" alt="" />
          <img class="flag" src="{{ url_for('static', filename='images/flag.png') }}" alt="" />
          <h3>{{ user.name }}</h3>
        </div>
        <ul>
          {% for url, id, text in side_menu %}
            <li><a href="#{{ id }}" onclick="loadMenu('{{ url }}')">{{ text }}</a></li>
          {% endfor %}
          <li><hr></li>
          <li><a href="#">Fnatic</a></li>
        </ul>
      </div>
      <div class="content" id="profile_content">

      </div>
    </div>
  </div>

  {% if view %}
    <script>
      loadMenu('{{ url_for(view, user_id = user.id) }}');
    </script>
  {% endif  %}

{% endblock content %}