{% from 'user_macros.html' import user_basic_info, user_game_ownerships %}

{% set is_my_profile = current_user.is_authenticated() and current_user.id == user.id %}

<h1 class="name">
  <span>{{ gettext('Profil of %(name)s', name=user.name) }}</span>
  <small class="watch">
    <a href="#">
      <i class="fa fa-eye"></i>
      13
    </a>
  </small>
</h1>
<div class="extra-menu">
  {% if is_my_profile %}
    <a href="{{ url_for('users.edit_profile_subview', user_id=user.id) }}">
      <i class="fa fa-pencil-square-o"></i>
    </a>
  {% else %}
    <a href="#" class="fight"><img src="{{ url_for('static', filename='images/challenge.png') }}"></a>
  {% endif %}
</div>

{{ user_basic_info(user) }}
