
  <h1 class="name">
    <span>{{ gettext('Friends of %(name)s', name=user.name) }}</span>
  </h1>
  <h3><a href="{{ url_for('users.users_view') }}">Add new friends</a></h3>
  <div>
    <ul>
      {% for friendship in friendships %}
        <li>
          <div>
            <img class="avatar" src="{{ friendship.friend.email | gravatar(size=20) }}" alt="" />
            <a href="{{ url_for('users.profile_view', user_id=friendship.friend.id) }}">{{ friendship.friend.name }}</a>
            <a href="#">(Send message)</a>
          </div>
        </li>
      {% endfor %}
      {% from 'macros.html' import render_pagination %}
      {{ render_pagination(pagination, '#profile_content') }}
    </ul>
  </div>
