
  <h1 class="name">
    <span>{{ gettext('Friends of %(name)s', name=user.name) }}</span>
  </h1>
  <h3><a href="{{ url_for('users.users_view') }}">Add new friends</a></h3>
  <div>
    <ul>
      {% for friendship in friendships %}
        <li>
          {% from 'user_macros.html' import user_listing %}
          {{ user_listing(user) }}
        </li>
      {% endfor %}
      {% from 'macros.html' import render_pagination %}
      {{ render_pagination(pagination, '#profile_content') }}
    </ul>
  </div>
