{% macro user_basic_info(user) %}
  <h3>{{ gettext('Nickname') }}</h3>
  <p>{{ user.name }}</p>

  <h3>{{ gettext('Email') }}</h3>
  <p>{{ user.email }}</p>

  <h3>{{ gettext('Ranking') }}</h3>
  <p>#{{ user.ranking }}</p>

  <h3>{{ gettext('Nationality') }}</h3>
  <p>{{ user.nationality }}</p>

  <h3>{{ gettext('Sex') }}</h3>
  <p>{{ user.sex | sex }}</p>

  <h3>{{ gettext('Age') }}</h3>
  <p>{{ user.birthdate }}</p>

  <h3>{{ gettext('About me') }}</h3>
  <p>{{ user.description if user.description else gettext('No description') }}</p>

  <h3>{{ gettext('Badges') }}</h3>
  <div class="row icons">
    <div class="col-md-2"><a href="#"><img src="{{ url_for('static', filename='images/badge.jpg') }}"></a></div>
    <div class="col-md-2"><a href="#"><img src="{{ url_for('static', filename='images/badge.jpg') }}"></a></div>
    <div class="col-md-2"><a href="#"><img src="{{ url_for('static', filename='images/badge.jpg') }}"></a></div>
    <div class="col-md-2"><a href="#"><img src="{{ url_for('static', filename='images/badge.jpg') }}"></a></div>
  </div>

  <h3>Gry</h3>
  {{ user_game_ownerships(user) }}

  <h3>Dodatkowe informacje</h3>
  <div class="moreinfo">
    <h4>Facebook</h4>
    <a href="#">facebook.com/fnatic</a>
    <h4>Twitch.tv</h4>
    <a href="#">twitch.tv/fnatic</a>
    <h4>Steam</h4>
    <a href="#">steam.com/fnatic</a>
    <h4>Januszowo</h4>
    <a href="#">januszowo.cebula/fnatic</a>
  </div>
{% endmacro %}

{% macro user_game_ownerships(user) %}
  <!-- <div class="row icons">
    <div class="col-md-2"><a href="#"><img src="assets/lol-icon.png"></a></div>
    <div class="col-md-2"><a href="#"><img src="assets/cod-icon.png"></a></div>
    <div class="col-md-2"><a href="#"><img src="assets/hearthstone-icon.png"></a></div>
    <div class="col-md-2"><a href="#"><img src="assets/csgo-icon.png"></a></div>
  </div> -->
  <table class="table table-striped">
    <tr>
      <th class="col">Game</th>
      <th class="col">Nickname</th>
    </tr>
    {% for game_ownership in user.game_ownerships %}
      <tr>
        <td>{{ game_ownership.game.name }}</td>
        <td>{{ game_ownership.nickname }}</td>
      </tr>
    {% endfor %}
  </table>

{% endmacro %}