{% macro user_basic_info(user) %}
  <h3>{{ gettext('Nickname') }}</h3>
  <p>{{ user.name }}</p>

  <h3>{{ gettext('Email') }}</h3>
  <p>{{ user.email }}</p>

  <h3>{{ gettext('Ranking') }}</h3>
  <p>{{ ('#' + user.ranking) if user_ranking else gettext('Not ranked')}}</p>

  <h3>{{ gettext('Nationality') }}</h3>
  <p>{{ user.nationality | country_name }}</p>

  <h3>{{ gettext('Sex') }}</h3>
  <p>{{ user.sex | sex }}</p>

  <h3>{{ gettext('Age') }}</h3>
  <p>{{ user.birthdate }}</p>

  <h3>{{ gettext('About me') }}</h3>
  <p>{{ user.description if user.description else gettext('No description') }}</p>

  {{ user_game_ownerships(user.game_ownerships) }}
{% endmacro %}

{% macro user_logo_src(user) %}
  {% set size = kwargs.get('width') %}
  {{ user.image_url | cloudinary(**kwargs) if user.image_url else user.email | gravatar(size) }}
{% endmacro %}

{% macro user_listing(user) %}
  <div>
    <img class="avatar" src="{{ user_logo_src(user, width=20) }}" alt="" />
    <a href="{{ url_for('users.profile_view', user_id=user.id) }}">{{ user.name }}</a>
    <a href="#">(Send message)</a>
  </div>
{% endmacro %}

{% macro user_game_ownerships(game_ownerships) %}
  <h3>{{ gettext('Games') }}</h3>
  {% if not game_ownerships or game_ownerships | length == 0 %}
    <p>{{ gettext("No games found") }}</p>
  {% else %}
    <table class="table table-striped">
      <tr>
        <th class="col">Game</th>
        <th class="col">Nickname</th>
      </tr>
      {% for game_ownership in game_ownerships %}
        <tr>
          <td>{{ game_ownership.game.name }}</td>
          <td>{{ game_ownership.nickname }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

{% endmacro %}