{% extends 'main.html' %}

{% block content %}
{% if g.user.is_authenticated() %}

<div>{{ g.user.name }} is logged in!</div>

{% else %}
{% from 'macros.html' import render_field %}

<h1>{{ gettext('Register new account') }}</h1>
<form method="POST" action="{{ url_for('auth.register') }}">
  {{ form.hidden_tag() }}
  {% for error in form.server_errors %}
  <div class="label label-danger">
    {{ error }}
  </div>
  {% endfor %}
  {{ render_field(form.login) }}
  {{ render_field(form.email) }}
  {{ render_field(form.password) }}
  {{ render_field(form.password_again) }}
  <button type="submit" class="btn btn-default">
    {{ gettext('Register') }}
  </button>
</form>

{% endif %}
{% endblock content %}