// Search
.search-input {
	padding: 10px 0;

	&.open {
		position: absolute;
		left: 0;

		input {
			display: block;
		}
	}

	input {
		display: none;
	}
}

.nav-message {
	text-transform: none;
	border-bottom: 1px solid rgba(0, 0, 0, .15);

	p {
		overflow: hidden;
	}

	&-more a {
		text-align: center;
		text-transform: none;
	}
}