{% from 'macros.html' import render_field %}

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content modal-vertical-centered">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">
					{{ gettext('Login') }}
				</h4>
			</div>
			<div class="modal-body">
				<h3 class="login-register-link"><a href="{{ url_for('auth.register') }}">Nie masz konta? Zarejestruj się!</a></h3>

				{% from 'macros.html' import render_form %}
  			{{ render_form(g.login_form, url_for('auth.login'), action_text=gettext('Log in')) }}
				
				<!-- TODO: Dodać pola zapamiętaj mnie i zapomniałem hasła -->
				<!-- <div class="row">
					<div class="col-xs-6 checkbox">
						<label>
					    	<input type="checkbox" checked> Zapamiętaj mnie
					    </label>
					</div>
					<div class="col-xs-6">
						<a href="#" class="lost-password">Zapomniałem hasła</a>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>