{% extends 'main.html' %}

{% block content %}
{% if current_user.is_authenticated() %}

<div>{{ current_user.name }} is logged in!</div>

{% else %}
{% from 'macros.html' import render_form, render_field %}
<div id="registration">
  <div class="container">
    <h1>{{ gettext('Register new account') }}</h1>
    <div class="row">
      <div class="col-sm-7">
        {%  call render_form(form, action_url=url_for('auth.register'), action_text=gettext('Register')) %}
        {{ render_field(form.nickname) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.password_again) }}
        <div class="row">
          <div class="col-md-6 col-xs-7">
            {{ render_field(form.rules) }}
            {{ render_field(form.spam) }}
          </div>
          <div class="submit col-md-6 col-xs-5">
            <button type="submit" class="btn btn-default btn-lg pull-right">{{ gettext('Register') }}</button>
          </div>
        </div>
      {% endcall %}

      </div>
      <div class="col-sm-5">
        <p class="welcome">{{ gettext('Załóż konto, aby móc walczyć z wieloma graczami z całego świata o niesamowite nagrody w organizowanych przez nas ligach i turniejach.') }}</p>
        <p class="welcome">{{ gettext('Skorzystaj z formularza albo zarejestruj się przez jeden z poniższych serwisów.') }}</p>
        <div class="social-registration row">
          <div class="col-xs-3">
            <a href="#" class="steam-registration tooltip-btn" title="Zarejestruj przez Steam">
              <img src="{{  url_for('static', filename='images/steam.png') }}" />
            </a>
          </div>
          <div class="col-xs-3">
            <a href="#" class="origin-registration tooltip-btn" title="Zarejestruj przez Origin">
              <img src="{{  url_for('static', filename='images/origin.png') }}" />
            </a>
          </div>
          <div class="col-xs-3">
            <a href="#" class="facebook-registration tooltip-btn" title="Zarejestruj przez Facebook">
              <img src="{{  url_for('static', filename='images/facebook.png') }}" />
            </a>
          </div>
          <div class="col-xs-3">
            <a href="#" class="twitter-registration tooltip-btn" title="Zarejestruj przez Twitter">
              <img src="{{  url_for('static', filename='images/twitter.png') }}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}