{% extends 'main.html' %}

{% block content %}
<div class="profile game col-md-9">
	<div class="row">
		<div class="menu">
			<div class="logo">
				<img class="avatar" src="{{ url_for('static', filename='images/lol-icon.png') }}" alt="" />
			</div>
			<ul>
				<li><a href="#" class="active">{{ gettext('Info') }}</a></li>
				<li><a href="#">{{ gettext('Leagues and tournaments') }}</a></li>
				<li><a href="#">{{ gettext('Media') }}</a></li>
			</ul>
		</div>
		<div class="content">
			<h1 class="name">
				<span>{{ game.name }}</span>
			</h1>

			<h3>{{ gettext('Game description') }}</h3>
			<p>Butcher locavore vegan chillwave fingerstache. Post-ironic meditation artisan Wes Anderson polaroid. Fap tofu High Life seitan raw denim. Readymade 90's keytar, viral kale chips gastropub pork belly Portland hoodie paleo. Slow-carb bicycle rights tilde, bespoke leggings kitsch health goth meditation brunch trust fund Vice cardigan polaroid whatever Neutra. Meh PBR&B before they sold out art party polaroid quinoa, Wes Anderson sartorial ennui skateboard Schlitz. Direct trade before they sold out biodiesel flannel, asymmetrical Echo Park swag salvia.</p>
			{% if current_user.is_authenticated() %}
                {% if game_ownership %}
                  <form method="post" action="{{ url_for('games.leave', game_id=game.id) }}">
                    <button>(Leave)</button>
                  </form>
                {% endif %}
				<h3>{{ gettext('Join game' if not game_ownership else 'Update nickname') }}</h3>

				{% from 'macros.html' import render_form %}
				{{ render_form(form, url_for('games.join', game_id=game.id), action_text=gettext('Save')) }}

			{% endif %}
			<h3>{{ gettext('Rules') }}</h3>
			<div role="tabpanel" class="row rules">

			  <!-- Nav tabs -->
			  <ul class="nav nav-stacked col-sm-4" role="tablist">
                {% for rule in game.rules %}
                  <li role="presentation" {{ 'class=active' if loop.first else '' }}>
                    <a href="#rules-{{ loop.index }}" aria-controls="lol-rules-{{ loop.index }}" role="tab" data-toggle="tab">{{ rule.name }}</a>
                  </li>
                {% endfor %}
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content col-sm-8">
                  {% for rule in game.rules %}
                  <div role="tabpanel" class="tab-pane {{ 'active' if loop.first else '' }}" id="rules-{{ loop.index }}">
                      {% for entry in rule.entries %}
                        <h4>{{ entry.key }}</h4>
                        <p>{{ entry.value }}</p>
                      {% endfor %}
                  </div>
                  {% endfor %}
                </div>

			</div>
			
		</div>
	</div>
</div>


{% endblock content %}