{% extends 'main.html' %}

{% block content %}

  <div class="profile team col-md-9">
    <div class="row">
      <div class="menu">
        <div class="logo">
          {% from 'team_macros.html' import team_logo_src %}
          <img src="{{ team_logo_src(team, width=130) }}">
          <h3>{{ team.name }}</h3>
        </div>
        {% from 'macros.html' import render_side_menu %}
        {{ render_side_menu(side_menu, '#team_content') }}
      </div>
      <div class="content" id="team_content">
        {% block pjax_content %}

        {% endblock %}
      </div>
    </div>
  </div>
{% endblock content %}