{% extends 'main.html' %}

{% block content %}

  {% if current_user.is_authenticated() %}

    {% set side_menu = [
      (url_for('teams.team_view', team_id=team.id), 'profile', gettext('Profile')),
      (url_for('teams.members_view', team_id=team.id), 'members', gettext('Members')),
      ('#', 'divisions', gettext('Divisions')),
      ('#', 'messages', gettext('Messages')),
      ('#', 'matches', gettext('Matches')),
      ('#', 'challenges', gettext('Challenges'))
    ] -%}

    {% if team.relation_to_current_user.is_founder %}
      {{ side_menu.append((url_for('teams.EditTeamViews:edit', team_id=team.id), 'settings', gettext('Settings'))) }}
    {%  endif %}


  {% else %}

    {% set side_menu = [
      (url_for('teams.team_view', team_id=team.id), 'profile', gettext('Profile')),
      ('#', 'matches', gettext('Matches'))
    ] -%}

  {% endif %}

  <div class="profile team col-md-9">
    <div class="row">
      <div class="menu">
        <div class="logo">
          {% from 'team_macros.html' import team_logo_src %}
          <img src="{{ team_logo_src(team, width=130) }}">
          <h3>{{ team.name }}</h3>
        </div>
        {% from 'macros.html' import render_side_menu %}
        {{ render_side_menu(side_menu, '#team_content') }}
      </div>
      <div class="content" id="team_content">
        {% block pjax_content %}

        {% endblock %}
      </div>
    </div>
  </div>
{% endblock content %}