{% extends 'main.html' %}

{% block content %}
  <div class="col-md-9">
    <h1>{{ gettext("Teams") }} <a href="{{ url_for('teams.create_team_view') }}">(Create new)</a></h1>
    {# we also need searching here, it's not yet implemented but template should contain it, maybe with JS? #}
    <div class="row">
      <ul>
        {% for team in teams %}
          <li>
            <a href="{{ url_for('teams.team_view', team_id = team.id) }}">
                <b>{{ team.name }}</b>
                {{ team.tag }}
                {{ team.members_count }}
                {# add check if current player is already in team (??) #}
                {% if current_user.is_authenticated() %}
                  <a href="#">{{ gettext('Join team') }}</a>
                {% endif %}
            </a>
          </li>
        {%  endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}