{% extends 'main.html' %}

{% block content %}
  <div class="col-md-9">
    {% from 'team_macros.html' import team_logo_src %}
    <img src="{{ team_logo_src(team, width=130) }}">
    <h1>
      {{ gettext("Overview of %(team_name)s", team_name=team.name) }}
      {% if current_user.is_authenticated() and team.founder.id == current_user.id %}
        <a href="{{ url_for('teams.edit_team_view', team_id=team.id) }}">(Edit)</a>
      {% endif %}
    </h1>
    <div class="row">        
      <b>{{ team.name }}</b>
      {{ team.tag }}
      {{ team.members_count }}
      {{ team.founder.name }}
      <div>{{ team.description }}</div>
    </div>
    <h2>{{ gettext("Members of %(team_name)s", team_name=team.name) }}</h2>
    <div class="row">
      <ul>
        {% for member in members %}
        <li>
          {% from 'user_macros.html' import user_listing %}
          {{ user_listing(member) }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}