{% macro team_logo_src(team) %}
  {% set size = kwargs.get('width') %}
  {{ team.image_url | cloudinary(**kwargs) if team.image_url else 'http://expo.ec.illinois.edu/assets/company_logos/placeholder.png' }}
{% endmacro %}

{% macro team_listing(team) %}
  <img src="{{ team_logo_src(team, width=20) }}" width="20">
  <a href="{{ url_for('teams.team_view', team_id = team.id) }}">
    <b>{{ team.name }}</b>
    {% if team.tag %}
      [{{ team.tag }}]
    {% endif %}
    {{ team.members_count }}
    {# add check if current player is already in team (??) #}
    {% if caller %}
      {{ caller() }}
    {% endif %}
  </a>
{% endmacro %}