/*zmiana punktu przełączania mobile*/
@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

		&.collapse {
			display: none!important;

			&.in{
				display:block !important;
			}
		}
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-nav {
		margin-top: 7.5px;

		> li {
			float: none;

			> a {
				padding-top: 10px;
				padding-bottom: 10px;
				line-height: 25px;
			}
		}
	}
}