<div id="site-header">
  <div class="top-navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-8">
          <a class="logo" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
        </div>
        <div class="top-menu col-md-8 col-sm-6 col-xs-4">
          <a class="navbar-toggle menu-toggle" data-target="#main-menu" data-toggle="collapse" href="#">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a href="#" class="menu-toggle visible-xs visible-sm sticky-visible tooltip-btn" data-toggle="modal" data-target="#myModal" title="Logowanie i rejestracja">
            <span class="glyphicon glyphicon-log-in"></span>
          </a>
          <ul class="nav navbar-nav navbar-right account-menu sticky-hidden hidden-xs hidden-sm">
            {% if not g.user.is_authenticated() %}
            <li>
              <a href="#" data-toggle="modal" data-target="#myModal">
                {{ gettext('Login') }}
              </a>
            </li>
            <li>
              <a href="{{ url_for('auth.login') }}">
                {{ gettext('Login') }}
              </a>
            </li>
            <li>
              <a href="{{ url_for('auth.register') }}">
                {{ gettext('Register') }}
              </a>
            </li>
            {% else  %}
            <li>
            <form action="{{ url_for('auth.logout') }}" method="post">
              <button type="submit">
                {{ gettext('Logged as %(username)s', username=g.user.name) }}
              </button>
            </form>
            </li>
            <li>
              <a href="{{ url_for('auth.my_profile_view') }}">
                {{ gettext('Profile') }}
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include 'navbar.html' %}
</div>