<div id="site-header">
	<div class="top-navbar">
		<div class="container">
		{% if not current_user.is_authenticated() %}
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-8">
					<a class="logo" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
				</div>
				<div class="top-menu col-md-8 col-sm-6 col-xs-4">
					<a href="#" class="navbar-toggle menu-toggle" data-toggle="collapse" data-target="#main-menu">
						<span class="glyphicon glyphicon-menu-hamburger"></span>
					</a>
					<a href="#" class="menu-toggle visible-xs visible-sm sticky-visible tooltip-btn" data-toggle="modal" data-target="#myModal" title="Logowanie i rejestracja">
						<span class="glyphicon glyphicon-log-in"></span>
					</a>
					<ul class="nav navbar-nav navbar-right account-menu sticky-hidden hidden-xs hidden-sm">
						<li>
							<a href="#" data-toggle="modal" data-target="#myModal">
								{{ gettext('Login') }}
							</a>
						</li>
						<li>
							<a href="{{ url_for('auth.register') }}">
								{{ gettext('Register') }}
							</a>
						</li>
					</ul>
				</div>
			</div>
		{% else  %}
			<div class="row">
				<div class="col-xs-4">
					<a class="logo" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
				</div>
				<div class="top-menu col-xs-8">
					<a href="#" class="navbar-toggle menu-toggle" data-toggle="collapse" data-target="#main-menu">
						<span class="glyphicon glyphicon-menu-hamburger"></span>
					</a>
					<div class="menu-toggle visible-xs sticky-visible tooltip-btn" title="{{ gettext('Logout') }}">
						<form action="{{ url_for('auth.logout') }}" method="post">
							<button type="submit" class="btn btn-link">
								<span class="glyphicon glyphicon-log-out"></span>
							</button>
						</form>
					</div>

					<ul class="nav navbar-nav navbar-right account-menu logged-in">
						<li>
							<a href="{{ url_for('users.profile_view', user_id=current_user.id) }}" class="navbar-avatar">
                                {% from 'user_macros.html' import user_logo_src %}
								<img src="{{ user_logo_src(current_user, width=50) }}" />
								<span class="sticky-hidden hidden-xs">{{ current_user.name }}</span>
							</a>
						</li>
						<li>
							<a href="#">
								120 <i class="fa fa-credit-card"></i>
							</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<i class="fa fa-envelope"></i>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li class="nav-message navbar-avatar"><a href="#">
									<span class="time">10:21</span>
									<img src="{{  url_for('static', filename='images/member-icon.png') }}" />
									<span>PashaBiceps</span>
									<p>Fingerstache health goth direct trade meditation, wayfarers twee Neutra bespoke sriracha mumblecore meggings Vice 3 wolf moon Intelligentsia four dollar toast. Asymmetrical kogi banh mi, iPhone fingerstache semiotics salvia jean shorts swag skateboard trust fund farm-to-table. McSweeney's keffiyeh ugh, plaid chia PBR banh mi small batch ethical selfies synth vinyl wolf retro. Jean shorts 90's +1 hashtag typewriter pug, synth Pinterest Pitchfork Kickstarter. Authentic street art banjo, biodiesel slow-carb typewriter kitsch wolf mustache swag four dollar toast flexitarian Blue Bottle put a bird on it mixtape. Butcher McSweeney's kogi, hoodie Bushwick Williamsburg selfies lo-fi DIY. Listicle XOXO selfies occupy cold-pressed +1.</p>
								</a></li>
								<li class="nav-message navbar-avatar"><a href="#">
									<span class="time">07:21</span>
									<img src="{{  url_for('static', filename='images/member-icon.png') }}" />
									<span>PashaBiceps</span> 
									<p>Lorem ipsum dolor pierdu pierdu</p>
								</a></li>
								<li class="nav-message navbar-avatar"><a href="#">
									<span class="time">Wczoraj</span>
									<img src="{{  url_for('static', filename='images/member-icon.png') }}" />
									<span>PashaBiceps</span> 
									<p>Lorem ipsum dolor pierdu pierdu</p>
								</a></li>
								<li class="nav-message-more"><a href="#">Zobacz wszystkie wiadomości</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                                id="notification-button">
								<i class="fa fa-globe"></i>
							</a>
						  	<ul class="dropdown-menu" role="menu" id="notification-list">

							</ul>
							<script>
								$('#notification-button').one('click', function(){
									loadAsync('{{ url_for('notifications.navbar_view')}}', '#notification-list');
								});
							</script>
						</li>
						<li class="sticky-hidden hidden-xs">
							<form action="{{ url_for('auth.logout') }}" method="post">
								<button type="submit" class="btn btn-link">
									{{ gettext('Logout') }}
								</button>
							</form>
						</li>
					</ul>
				</div>
			</div>

		{% endif %}
		</div>
	</div>
	{% include 'navbar.html' %}
</div>