{% macro render_field(field, with_label=True, outer_class='form-group', class_='form-control') -%}
  {% set placeholder = '' %}
  {% if not with_label %}
    {% set placeholder = field.label.text %}
  {% endif %}
  {% set outer_class = outer_class + (' error' if field.errors else '') %}
  {% set outer_class = outer_class + (' checkbox' if field.type == 'BooleanField' else '') %}
  {% set class_ = class_ if field.type != 'BooleanField' or class_ != 'form-control' else '' %}
  {% set class_ = class_ + (' required' if field.flags.required else '') %}
  {% set class_ = class_ + (' input-file' if field.type == 'FileField' else '') %}
  <div{% if outer_class.strip() %} class="{{ outer_class.strip() }}"{% endif %}>
    {% if field.type != 'HiddenField' and field.type !='CSRFTokenField' and field.type != 'BooleanField' and with_label %}
      <label for="{{ field.id }}" class="control-label">
        {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
      </label>
    {% endif %}

    {% if field.type == 'BooleanField' %}
      <label>
        {{ field(class_=class_, **kwargs) }}
        {{ field.label.text|safe }}
      </label>
    {% else %}
      {% if field.type == 'SelectField' %}
        {{ field(class_=class_, **kwargs) }}
      {% else %}
        {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
      {% endif %}
    {% endif %}
    {% if field.errors %}
      <span class="error help-inline">{{ field.errors|join(', ') }}</span>
    {% endif %}
    {% if field.description %}
      <p class="help-block">{{ field.description|safe }}</p>
    {% endif %}
  </div>
{%- endmacro %}

{% macro render_form(form, action_url='', action_text='Submit', class_='', btn_class='btn btn-default submit', with_labels=True) -%}
  <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
    {{ form.hidden_tag() if form.hidden_tag }}
    {% for error in form.server_errors %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endfor %}
    {% if caller %}
      {{ caller() }}
    {% else %}
      {% for f in form %}
        {{ render_field(f, with_label=with_labels) }}
      {% endfor %}
      <button type="submit" class="{{ btn_class }}">{{ action_text }} </button>
    {% endif %}
  </form>
{%- endmacro %}

{% macro render_pjax_form(fields, container_selector, action_url='', action_text='Submit', class_='', with_labels=True) -%}
  <form method="get" action="{{ action_url }}" class="{{ class_ }}" data-pjax="{{ container_selector }}">
    {% if caller %}
      {{ caller() }}
    {% else %}
      {% for name, options in fields.items() %}
        <div>
          {% if with_labels %}
            {% set label = (name | id_to_label) if not options['label'] else options['label'] %}
            <label for="{{ name }}">{{ label }}</label>
          {% endif %}
          <input id="{{ name }}" name="{{ name }}">
        </div>
      {% endfor %}
      <button type="submit">{{ action_text }} </button>
    {% endif %}
  </form>
{%- endmacro %}


{% macro flash_messages() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endmacro %}

{% macro pjax_attribute(container) %}
  {{ ('data-pjax=' + container) if container else ''}}
{%- endmacro %}

{% macro render_pagination(pagination, pjax_container_id) %}
  <ul class="pagination">
    {% if pagination.has_prev %}
      <li>
        <a href="{{ url_for_other_page(pagination.page - 1) }}" {{ pjax_attribute(pjax_container_id) }} aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <li><a href="{{ url_for_other_page(page) }}" {{ pjax_attribute(pjax_container_id) }}>{{ page }}</a></li>
        {% else %}
          <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
        {% endif %}
      {% else %}
        <li class="disabled"><a href="#">…</a></li>
      {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
      <li>
        <a href="{{ url_for_other_page(pagination.page + 1) }}" {{ pjax_attribute(pjax_container_id) }} aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
{% endmacro %}