
<div class="main-menu-container">
  <div class="container">
    <nav class="navigation collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown hidden-xs hidden-sm">
          <a aria-expanded="false" href="{{ url_for('games.games_view') }}">
            {{ gettext('Games') }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            {% for game in g.games %}
              <li>
                <a href="{{ url_for('games.game_view', game_id = game.id) }}">{{ game.name }}</a>
              </li>
            {%  endfor %}
          </ul>
        </li>
        <li class="visible-xs-block visible-sm-block">
          <a href="{{ url_for('games.games_view') }}">
            {{ gettext('Games') }}
          </a>
        </li>
        <li class="dropdown hidden-xs hidden-sm">
          <a aria-expanded="false" href="{{ url_for('teams.teams_view') }}">
            {{ gettext('Teams') }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            {% if current_user.is_authenticated() %}
              <li>
                <a href="{{ url_for('users.teams_view', user_id=current_user.id) }}">{{ gettext('My teams') }}</a>
              </li>
            {% endif %}
            <li>
              <a href="{{ url_for('teams.teams_view') }}">{{ gettext('Browse teams') }}</a>
            </li>
            <li>
              <a href="{{ url_for('teams.teams_view') }}">{{ gettext('Top teams') }}</a>
            </li>
          </ul>
        </li>
        <li class="visible-xs-block visible-sm-block">
          <a href="{{ url_for('games.games_view') }}">
            {{ gettext('Teams') }}
          </a>
        </li>
        <li class="dropdown">
          <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="flag-icon flag-icon-{{ g.current_language if g.current_language != 'en' else 'gb' }}"></span>
          </a>
          <ul class="dropdown-menu">
            {% for lang, langname in g.languages.iteritems() %}
            <li>
              <a href="/lang/{{ lang }}">
                <span class="flag-icon flag-icon-{{ lang if lang != 'en' else 'gb'}}"></span>
                {{ langname }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>