
<div class="main-menu-container">
  <div class="container">
    <nav class="navigation collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown hidden-xs hidden-sm">
          <a aria-expanded="false" href="/games">
            {{ gettext('Games') }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/games/1">game1</a>
            </li>
            <li>
              <a href="/games/2">game2</a>
            </li>
            <li>
              <a href="/games/3">game3</a>
            </li>
            <li>
              <a href="/games/4">game4</a>
            </li>
            <li>
              <a href="/games/5">game5</a>
            </li>
            <li>
              <a href="/games/6">game6</a>
            </li>
            <li>
              <a href="/games/7">game7</a>
            </li>
            <li>
              <a href="/games/8">game8</a>
            </li>
            <li>
              <a href="/games/9">game9</a>
            </li>
            <li>
              <a href="/games/10">game10</a>
            </li>
          </ul>
        </li>
        <li class="visible-xs-block visible-sm-block">
          <a href="#">
            Gry
          </a>
        </li>
        <li>
          <a href="#">
            Rynek transferowy
          </a>
        </li>
        <li>
          <a href="#">
            Media
          </a>
        </li>
        <li>
          <a href="#">
            Sklep
          </a>
        </li>
        <li>
          <a href="#">
            <span class="translation_missing" title="translation missing: pl.menu.forum">Forum</span>
          </a>
        </li>
        <li class="dropdown">
          <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="flag-icon flag-icon-pl"></span>
          </a>
          <ul class="dropdown-menu">
            {% for lang, langname in g.languages.iteritems() %}
            <li>
              <a href="/lang/{{ lang }}">
                <span class="flag-icon flag-icon-{{ lang }}"></span>
                {{ langname }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="search-input">
          <input class="form-control" type="text">
        </li>
        <li class="search-toggle">
          <a href="#">
            <i class="fa fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>