
<div class="main-menu-container">
  <div class="container">
    <nav class="navigation collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown hidden-xs hidden-sm">
          <a aria-expanded="false" href="{{ url_for('games.games_view') }}">
            {{ gettext('Games') }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            {% for game in g.games %}
              <li>
                <a href="{{ url_for('games.game_view', game_id = game.id) }}">{{ game.name }}</a>
              </li>
            {%  endfor %}
          </ul>
        </li>
        <li class="visible-xs-block visible-sm-block">
          <a href="{{ url_for('games.games_view') }}">
            {{ gettext('Games') }}
          </a>
        </li>
        <li>
          <a href="{{ url_for('teams.teams_view') }}">
            {{ gettext('Transfer market') }}
          </a>
        </li>
        <li>
          <a href="#">
            {{ gettext('Media')}}
          </a>
        </li>
        <li>
          <a href="#">
            {{ gettext('Shop') }}
          </a>
        </li>
        <li>
          <a href="#">
            {{ gettext('Forum')}}
          </a>
        </li>
        <li class="dropdown">
          <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="flag-icon flag-icon-{{ g.current_language if g.current_language != 'en' else 'gb' }}"></span>
          </a>
          <ul class="dropdown-menu">
            {% for lang, langname in g.languages.iteritems() %}
            <li>
              <a href="/lang/{{ lang }}">
                <span class="flag-icon flag-icon-{{ lang if lang != 'en' else 'gb'}}"></span>
                {{ langname }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="search-input">
          <input class="form-control" type="text">
        </li>
        <li class="search-toggle">
          <a href="#">
            <i class="fa fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>